.product-layout-container {
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.toggler-container {
  margin: 20px 270px 20px 270px;

  .selection-filter-container {
    display: inline-flex;
    gap: 8px;
    margin-left: 10%;
  }

  .selection-filter {
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 4px;
    font-family: "Mulish", "open Sans", sans-serif;
    font-size: 1.2rem;
    padding: 12px;
    background-color: rgba(128, 128, 128, 0.065);
    cursor: pointer;

    &:hover {
      background-color: #000000d7;
      color: white;
      transition: 0.5s background-color;
    }
  }

  .selection-clear {
    font-size: 1.2rem;
    font-family: "Mulish", "open Sans", sans-serif;
    color: rgba(0, 0, 0, 0.832);
    font-weight: 800;
    margin-left: 10px;
    transition: 0.2s color;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.productLayout {
  display: flex;
  margin-left: 260px;
  margin-right: 260px;
  margin-top: 0.7%;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #000000b3;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 2%;
}

.productlayout-container {
  display: flex;
  width: 100%;
}

.sidebar-container {
  min-width: 13%;
  background-color: rgba(128, 128, 128, 0.076);
  position: sticky;
  top: 0;
  height: 100vh;
}

.side-page- p {
  font-size: 1.3rem;
  margin: 0;
  padding-bottom: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000a9;
}

.product-details-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 5px;
}

.product-salesprice-container {
  display: flex;
  align-items: center;
  gap: 10px;

  .product-salesprice {
    color: #c51e28;
    font-size: 1.1rem;

    &.cart-basket {
      color: rgba(0, 0, 0, 0.709);
      font-size: 1.4rem;
    }
  }

  .product-salesprice-value {
    font-weight: 800;
    color: #d31320eb;
    font-size: 1.4rem;

    &.cart-value {
      color: rgba(0, 0, 0, 0.85);
    }
  }
}

.sidebar-limiter {
  padding: 16px 16px 16px 16px;
}

.side-container p {
  font-size: 1.3rem;
  margin: 0;
  padding-bottom: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000a9;
}

.side-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  font-size: 1.2rem;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000a9;
  border-bottom: 1px solid #00000014;
}

.side-container ul:last-of-type {
  padding-bottom: 10px;
}

.side-container label {
  display: block;
  cursor: pointer;
}

.side-container input[type="checkbox"] {
  margin: 0;
  margin-right: 6px;
}

input[type="text"] {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid #0000006c;
  background-color: transparent;
  background-image: url("../../assets/images//search-icon-logo.png");
  background-size: 15px 15px;
  background-position: 1% center;
  background-repeat: no-repeat;
  padding-left: 25px;
  color: #000000ba;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]::placeholder {
  color: #999;
  font-size: 1.2rem;
}

.showButton {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  background-color: rgba(128, 128, 128, 0.076);
  color: #000000ac;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.showButton:hover {
  background-color: rgba(128, 128, 128, 0.108);
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 1px;
  margin-bottom: 20px;
  width: 100%;

  &.fav {
    margin-left: 20%;
    width: 60%;
  }

  &.disabled {
    pointer-events: none;
  }
  //father container the Flex , give it 100% and children 25% for
  &.cart-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 70%;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(25% - 2px);

  &.wide {
    width: calc(50% - 1px);

    .product-fav-icon {
      left: 93%;
      top: 1%;
    }
  }

  .product-card-wrapper {
    display: flex;
  }

  &.my-cart {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 30px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.product-img {
  width: 100%;
  object-fit: cover;
  object-position: center 5%;

  &.wide {
    width: 100%;
    height: 820px;
    object-position: center;
  }

  &.my-cart {
    width: 110px;
    margin-right: 20px;
  }
}

.product-fav-icon {
  position: absolute;
  top: 2%;
  left: 87%;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;

  &.my-fav {
    background-color: transparent;
    top: 0.1%;
    width: 6%;
    height: 6%;
  }
}

.product-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.cart-title {
    font-size: 1.4rem;
  }
}

.product-price,
.product-salesprice,
.product-salesprice-value {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1.2rem;
}

.product-title {
  color: #22242ab5;

  &.item {
    font-size: 1.6rem;
  }
}

.product-price {
  font-size: 1.4rem;
  color: #22242ac9;

  &.cart-price {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.82);
  }
}
